.App {
  margin-top: 10px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-style{
  width: 120px;
  border-radius: 10px;
}
.cart-wrapper{
  width: 150px;
  box-shadow: 2px 5px 10px #888888;
  background-color: #47546e;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid white;
}
.cart-wrapper{
  margin: 30px;
}




button{
  background-color: #e0e0e0;
  color: #0e0e0e;
  padding:5px ;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #fff;
  color: #000;
  
}

.cart-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width:100px;
  
  height: 70px;
  position: relative;
}
.header{
  background-color: #0e0e0e;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: sticky;
  
  top: 0;
}
.counter{
  background-color: red;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  height: 15px;
  width: 15px;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  right: 32.5px;
  top: 17px;
}
.heading-text{
  font-size: 30px;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}